# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [5]:
# Your code here - Load the file
import pandas as pd
zipcode = pd.read_csv('./Data/Zipcode_Demos.csv')#, usecols=[1,2], skiprows=1)

In [9]:
# Your code here - Perform exploratory data analysis
zipcode.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
zipcode.loc[46].reset_index()

                 index                                   46
0                    0                                   47
1   Average Statistics                    JURISDICTION NAME
2           Unnamed: 2                   COUNT PARTICIPANTS
3           Unnamed: 3                         COUNT FEMALE
4           Unnamed: 4                       PERCENT FEMALE
5           Unnamed: 5                           COUNT MALE
6           Unnamed: 6                         PERCENT MALE
7           Unnamed: 7                 COUNT GENDER UNKNOWN
8           Unnamed: 8               PERCENT GENDER UNKNOWN
9           Unnamed: 9                   COUNT GENDER TOTAL
10         Unnamed: 10                 PERCENT GENDER TOTAL
11         Unnamed: 11               COUNT PACIFIC ISLANDER
12         Unnamed: 12             PERCENT PACIFIC ISLANDER
13         Unnamed: 13                COUNT HISPANIC LATINO
14         Unnamed: 14              PERCENT HISPANIC LATINO
15         Unnamed: 15                COUNT AMERICAN INDIAN
16         Unnamed: 16              PERCENT AMERICAN INDIAN
17         Unnamed: 17             COUNT ASIAN NON HISPANIC
18         Unnamed: 18           PERCENT ASIAN NON HISPANIC
19         Unnamed: 19             COUNT WHITE NON HISPANIC
20         Unnamed: 20           PERCENT WHITE NON HISPANIC
21         Unnamed: 21             COUNT BLACK NON HISPANIC
22         Unnamed: 22           PERCENT BLACK NON HISPANIC
23         Unnamed: 23                COUNT OTHER ETHNICITY
24         Unnamed: 24              PERCENT OTHER ETHNICITY
25         Unnamed: 25              COUNT ETHNICITY UNKNOWN
26         Unnamed: 26            PERCENT ETHNICITY UNKNOWN
27         Unnamed: 27                COUNT ETHNICITY TOTAL
28         Unnamed: 28              PERCENT ETHNICITY TOTAL
29         Unnamed: 29       COUNT PERMANENT RESIDENT ALIEN
30         Unnamed: 30     PERCENT PERMANENT RESIDENT ALIEN
31         Unnamed: 31                     COUNT US CITIZEN
32         Unnamed: 32                   PERCENT US CITIZEN
33         Unnamed: 33           COUNT OTHER CITIZEN STATUS
34         Unnamed: 34         PERCENT OTHER CITIZEN STATUS
35         Unnamed: 35         COUNT CITIZEN STATUS UNKNOWN
36         Unnamed: 36       PERCENT CITIZEN STATUS UNKNOWN
37         Unnamed: 37           COUNT CITIZEN STATUS TOTAL
38         Unnamed: 38         PERCENT CITIZEN STATUS TOTAL
39         Unnamed: 39     COUNT RECEIVES PUBLIC ASSISTANCE
40         Unnamed: 40   PERCENT RECEIVES PUBLIC ASSISTANCE
41         Unnamed: 41    COUNT NRECEIVES PUBLIC ASSISTANCE
42         Unnamed: 42  PERCENT NRECEIVES PUBLIC ASSISTANCE
43         Unnamed: 43      COUNT PUBLIC ASSISTANCE UNKNOWN
44         Unnamed: 44    PERCENT PUBLIC ASSISTANCE UNKNOWN
45         Unnamed: 45        COUNT PUBLIC ASSISTANCE TOTAL
46         Unnamed: 46      PERCENT PUBLIC ASSISTANCE TOTAL

In [7]:
zipcode.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [18]:
# What is going on with this data set? Anything unusual?
# For the first 46 rows, the values for Jurisdiction 10005 are unstacked, and then the values for the other districts are

In [26]:
# Your code here - Clean up the data set
zipcode.loc[:47,'Average Statistics']

0                                     NaN
1                       JURISDICTION NAME
2                      COUNT PARTICIPANTS
3                            COUNT FEMALE
4                          PERCENT FEMALE
5                              COUNT MALE
6                            PERCENT MALE
7                    COUNT GENDER UNKNOWN
8                  PERCENT GENDER UNKNOWN
9                      COUNT GENDER TOTAL
10                   PERCENT GENDER TOTAL
11                 COUNT PACIFIC ISLANDER
12               PERCENT PACIFIC ISLANDER
13                  COUNT HISPANIC LATINO
14                PERCENT HISPANIC LATINO
15                  COUNT AMERICAN INDIAN
16                PERCENT AMERICAN INDIAN
17               COUNT ASIAN NON HISPANIC
18             PERCENT ASIAN NON HISPANIC
19               COUNT WHITE NON HISPANIC
20             PERCENT WHITE NON HISPANIC
21               COUNT BLACK NON HISPANIC
22             PERCENT BLACK NON HISPANIC
23                  COUNT OTHER ETHNICITY
24                PERCENT OTHER ETHNICITY
25                COUNT ETHNICITY UNKNOWN
26              PERCENT ETHNICITY UNKNOWN
27                  COUNT ETHNICITY TOTAL
28                PERCENT ETHNICITY TOTAL
29         COUNT PERMANENT RESIDENT ALIEN
30       PERCENT PERMANENT RESIDENT ALIEN
31                       COUNT US CITIZEN
32                     PERCENT US CITIZEN
33             COUNT OTHER CITIZEN STATUS
34           PERCENT OTHER CITIZEN STATUS
35           COUNT CITIZEN STATUS UNKNOWN
36         PERCENT CITIZEN STATUS UNKNOWN
37             COUNT CITIZEN STATUS TOTAL
38           PERCENT CITIZEN STATUS TOTAL
39       COUNT RECEIVES PUBLIC ASSISTANCE
40     PERCENT RECEIVES PUBLIC ASSISTANCE
41      COUNT NRECEIVES PUBLIC ASSISTANCE
42    PERCENT NRECEIVES PUBLIC ASSISTANCE
43        COUNT PUBLIC ASSISTANCE UNKNOWN
44      PERCENT PUBLIC ASSISTANCE UNKNOWN
45          COUNT PUBLIC ASSISTANCE TOTAL
46                      JURISDICTION NAME
47                                  10001
Name: Average Statistics, dtype: object

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

## Summary

Congratulations, you now practiced your pandas-importing skills!